<h2><p align="center">Viewing Repository: CSCI <%= @course.course_number %></p></h2>

<p align="left">
  Select Course: <%= select_tag :course_number, options_for_select(Course::COURSE_NUMBERS) %>
  <%= submit_tag "Go" %>
</p>

<p><%= $course = @course.course_number %></p>

<% @categories_by_course = category_by_course_alph_sorted(2380) %>
  <% @categories_by_course.each do |category| %>
      <p><%= category.letter %>. <%= category.category %></p>
  <% end %>