<h1><p align="center">Create a new category</p></h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category %>:<br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :course_id %>:<br />
    <%= f.select :course_number, Course::COURSE_NUMBERS, :params => :course_number %>
  </p>
  <p>
    <%= f.submit 'Create', :disable_with=>"Processing..."  %>
  </p>
<% end %>